// ⚠️ Automatisch gegenereerd uit theme.json – niet handmatig aanpassen!
$color-primary: #073674;
$color-secondary: #CB514A;
$color-blue: #124A94;
$color-blue-grey: #DBE2E9;
$color-blue-light: #D0E4FF;
$color-heading-dark: #2A1E17;
$color-heading-light: #F8F8F8;
$color-text: #2A1E17;
$color-text-light: #FFFFFF;

$layout-content-size: 1400px;
$layout-wide-size: 1550px;
$layout-maxwidth: 90%;
$layout-block-spacing: clamp(2rem, calc(1.4rem + 3vw), 4rem);

$font-size-small: clamp(0.75rem, calc(0.71rem + 0.19vw), 0.875rem);
$line-height-small: 1;
$font-weight-small: 400;

$font-size-normal: clamp(1rem, calc(0.96rem + 0.19vw), 1.125rem);
$line-height-normal: 1.425;
$font-weight-normal: 400;

$font-size-h4: clamp(1.25rem, calc(1.1rem + 0.75vw), 1.25rem);
$line-height-h4: 1.2;
$font-weight-h4: 700;

$font-size-h3: clamp(1.5rem, calc(1.2rem + 1.5vw), 1.875rem);
$line-height-h3: 1.1;
$font-weight-h3: 600;

$font-size-h2: clamp(1.75rem, calc(1.3rem + 2.25vw), 2.5rem);
$line-height-h2: 1.025;
$font-weight-h2: 600;

$font-size-h1: clamp(2.25rem, calc(1.5rem + 3.75vw), 3.75rem);
$line-height-h1: 0.83;
$font-weight-h1: 700;

$font-family-standard-font: 'Strichpunkt Sans', sans-serif;

$spacing-2xs: clamp(0.5rem, calc(0.46rem + 0.19vw), 0.625rem);
$spacing-xs: clamp(0.75rem, calc(0.66rem + 0.38vw), 1rem);
$spacing-s: clamp(1rem, calc(0.85rem + 0.75vw), 1.5rem);
$spacing-m: clamp(1.5rem, calc(1.2rem + 1.5vw), 2.5rem);
$spacing-l: clamp(2rem, calc(1.4rem + 3vw), 4rem);
$spacing-xl: clamp(3rem, calc(2rem + 5vw), 6rem);
$spacing-2xl: clamp(4rem, calc(2.5rem + 7.5vw), 9rem);

$custom-radius-sm: 5px;
$custom-radius-md: 25px;
$custom-radius-lg: 40px;
$custom-radius-pill: 53px;
$custom-shadow-card: 3px 3px 7px rgba(0, 0, 0, 0.17);
$custom-shadow-button: 3px 3px 7px rgba(0, 0, 0, 0.25);
$custom-grid-columns: 12;
$custom-grid-gutter: 1.5rem;

$h1-font-size: var(--wp--preset--font-size--h1);
$h1-font-weight: 700;
$h1-line-height: 0.83;
$h1-color: var(--wp--preset--color--heading-dark);

$h2-font-size: var(--wp--preset--font-size--h2);
$h2-font-weight: 600;
$h2-line-height: 1.025;
$h2-color: var(--wp--preset--color--heading-dark);

$h3-font-size: var(--wp--preset--font-size--h3);
$h3-font-weight: 600;
$h3-line-height: 1.1;
$h3-color: var(--wp--preset--color--heading-dark);

$h4-font-size: var(--wp--preset--font-size--h4);
$h4-font-weight: 700;
$h4-line-height: 1.2;
$h4-color: var(--wp--preset--color--heading-dark);

$h5-font-size: 1.125rem;
$h5-font-weight: 700;
$h5-line-height: 1.3;
$h5-color: var(--wp--preset--color--heading-dark);

$h6-font-size: 1rem;
$h6-font-weight: 700;
$h6-line-height: 1.4;
$h6-color: var(--wp--preset--color--heading-dark);

